.nav {
  display: grid;
  grid-template-columns: 50px minmax(50px, auto);
}

.form {
  border: 2px solid rgba(211, 211, 211, 0.301);
  align-self: center;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  gap: 40px;
}

.tweet {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto;
  grid-column: 2;
  grid-row-start: 2 initial;
  box-shadow: 5px 5px rgba(211, 211, 211, 0.301);
  border: 2px solid rgba(211, 211, 211, 0.301);
  padding: 5px;
}

.user {
  grid-row: 1;
  grid-column: 8 / 11;
  /* fix alignment to not overflow right*/
}

.timestamp {
  grid-row: 2;
  grid-column: 8 / 11;
  color: gray;
  font-size: 0.8rem;
  font-style: italic;
  text-align: right;
}

.message {
  grid-row: 1 / 3;
  grid-column: 1 / 8;
  font-size: 1.1rem;
}