.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  gap: 40px;
  /* font-size: 15px;
  font-family: Helvetica, Arial, sans-serif; */
}

.tweet {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto;
  grid-column: 2;
  grid-row-start: 2 initial;
}

.user {
  grid-row: 1;
  grid-column: 10 / 11;
  text-align: right;
}

.timestamp {
  grid-row: 2;
  grid-column: 1 / 11;
  color: gray;
  font-size: 0.8rem;
  font-style: italic;
  text-align: right;
}

.message {
  grid-row: 1;
  grid-column: 1 / 9;
  font-size: 1.1rem;
}